$body-color: #37474F;
$active-tab: #B0BEC5;
$header-hover: #90A4AE;
$header-bg: #1558ff;
$white: #ffffff;
$padding-0: 0 !important;
$light-grey: #f5f5f5;
$grey: #d7d7d7;
$dark-grey: #7d7d7d;
$green: #2AB7AB;
$red: #F44336;
$red-hover: #DD2C00;
$warning: #FF6F01;
$warning-hover: #FF8F00;
$anchor-tag: #039be5;

// Fonts
$font-10: 10px;
$font-15: 15px;
$font-20: 20px;
$font-30: 30px;
